.sort-icon{
    font-size: 25px;
    padding: 5px;
    color: #ced0e0;
    margin-left: 35px;
    text-shadow: 1px 1px 18px;
    cursor: pointer;
  }

  .search-container{
    padding: 50px;
  }
  
  .search-icon{
    font-size: 25px;
    padding-left: -20px;
    margin-left: -33px;
    z-index: 100;
    margin-top: 5px;
  }
  