<div class="container search-container">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="SEARCH" aria-label="Search Restaurants" aria-describedby="basic-addon2" [(ngModel)]="filter" (ngModelChange)="checkQuery($event)">
        <div class="input-group-append">
            <i class="fa fa-search search-icon"></i>
        </div>
        <div class="input-group-append sort-icon">
            <i class="fas fa-sort-alpha-up search-icon" [hidden]="reverse" (click)="setOrder('restaurantName')"></i>
            <i class="fas fa-sort-alpha-down search-icon" [hidden]="!reverse" (click)="setOrder('restaurantName')"></i>
        </div>
    </div>
</div>