.searchContainer{
    width: 100%;
    position: relative;
    display: flex;
    margin: auto;
    margin-left: 5%;
    margin-bottom: 20px;
     
}
.inputSearch{
    padding: 10px;
    padding-right: 100px;
    margin-right: 10px;
    border-radius: 5px;
    border: 3px solid #48120E;
	box-shadow: 4px 4px 15px #202020;
}
.btnSearch{
    border-radius: 5px;
    color: #fff;
    background-color: #48120E;
	padding:10px 15px;
	box-shadow:  4px 4px 15px #202020;
    font-weight: 500;
}
.btnSearch:hover{
    background-color: #e7cc8f;
    color: #202020 ;
}

.btnSearch:active{
    background-color: #e7cc8f;
    transform: translateY(4px);
}

#holder{
    display: flex;
    flex-direction: column;
}