
<div class="signUp-container">
    <h1>Welcome </h1>
      <h3>Create A New Account</h3>
       <form>
           <input type="text" placeholder="First Name" class="input" id="fName">
           <input type="text" placeholder="Last Name" class="input" id="lName">
           <input  required type="text" placeholder="Email" class="input" id="email">
           <input  type="password" placeholder="Password" class="input" id="password">
         <br>
         <button class="btnSubmit">Submit</button>
         <br>
         <p>Already have an account? 
         <a routerLink="/login">Log In</a></p>
       </form>
   </div>
 