<div #thisComponent class="restaurant-outer-container">

    <div src class="restaurant-inner-container">
        <div class="restaurant-image-container" >
            <img src="../../assets/default-image-620x600.jpg" class="restaurant-image-content">
        </div>
        <div class="restaurant-info-container">
            <div class="restaurant-name">{{restaurantInfo.name}}</div>
            <div>
                <app-restaurant-rating [ratingValue]="4" [maxValue]="5" [readOnly]="false"></app-restaurant-rating>
                <div class="restaurant-rating restaurant-content" >{{restaurantInfo.avgrating}}</div>
            </div>
            <div class="restaurant-description restaurant-content">{{restaurantInfo.description}}</div>
            <div class="btn-container">
                <button class="btn-review" (click)="loadUserReviews()">Review</button>
                <button class="btn-review" (click)="loadWriteReview()">Write Review</button>

            </div>
        </div>
    </div>
    <div #restaurantReview>
    </div>
</div>