
<div class="signUp-container">
    <h1>Welcome </h1>
      <h3>Create A New Account</h3>
       <form>
           <input [(ngModel)]="credentials.username" [ngModelOptions]="{standalone: true}" type="text" placeholder="Username" class="input" id="fName">
           <input [(ngModel)]="credentials.password" [ngModelOptions]="{standalone: true}" type="password" placeholder="Password" class="input" id="password">
         <br>
         <button class="btnSubmit" (click)="register(this.credentials)">Submit</button>
         <br>
         <p>Already have an account? 
         <a routerLink="/logIn">Log In</a></p>
       </form>
   </div>
 