/* header css */
.navbar-light .navbar-brand {
  color: rgb(226, 44, 44);
}

.bg-light {
  background-color: #dab231  !important;
}

.home{
  font-size: 20px;
  color: #4521d6;
  cursor: pointer;
}

.home-icon{
  padding-right: 5px;
}

/* End of header css */
