
.genre{
  width: 33%;
  float: left;
  color: #828181;
  font-weight: bold;
}
.genre>span{
  font-weight: normal !important;
  color: #f5f4da !important;
}

.platform{
  width: 33%;
  float: left;
  color: #828181;
  font-weight: bold;
}

.platform>span{
  font-weight: normal !important;
  color: #3806eb !important;
}

.release_year{
  float: right;
  color: #828181;
  font-weight: bold;
  width: 30%;
}

.release_year>span{
  font-weight: normal !important;
  color: #f5f4da !important;
}

.score>span{
  font-weight: normal !important;
  color: #3be51d !important;
}

.news-box{
  padding-bottom: 10px;
}

.board-section{
  margin-left: 5%;
  margin-right: 5%;
}


.card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(244, 13, 13);
    background-clip: border-box;
    border: 1px solid rgba(227, 14, 14, 0.918);
    border-radius: .25rem;
    background-color: #189fe7;
    border: 1px;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
    transition: transform 0.2s linear;
    -webkit-box-shadow: 3px 4px 4px #3ede25, 3px 4px 4px #3ede25, 3px 4px 4px #2bde25;
    box-shadow: 3px 4px 4px #258bde, -2px 4px 4px #258bde, 3px -1px 4px #258bde, 7px 4px 4px #258bde;
}

.card:hover{
  transform: scale(1.1);
  z-index: 100;
}

.card-title>a{
  color: rgb(230, 25, 25) !important;
  float: left;
  width: 80%;
}
.card-title>span{
  float: right;
  font-size: 16px;
    font-weight: 500;
    color: #b1b0b0 !important;
}

.card-title>a:hover{
  color: #fff !important;
}

.card-body span{
  color: #b1b0b0;
}

.card-title{
  overflow: hidden;
}
.card-body{
  overflow: hidden;
}



.gamelist-title-bar{
  margin-left: 7%;
  font-size: 20px;
  font-weight: bold;
  color: #090f07;
}
