.error-template {padding: 40px 15px;text-align: center; color: #074284;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }

.btn-primary {
  color: rgb(223, 25, 25) !important;
  background-color: #d7dbde;
  border-color: #1b8be6;
}
