
.write-review-container{
	padding-left:15px;
    padding-right:15px;
    padding-bottom: 10px;
    padding-top: 5px;
    height:auto;
    flex:inherit;
    width: 900px;
    border-bottom: 4px solid #48120E;
    margin-bottom: 10px;
	margin-top: 15px;
    background-color: #e3c77e96;
    border-radius: 5px;
}

h3{
	padding: 10px;
	margin: 0;
}


.text-area{
	width: -webkit-fill-available;
	height: 10em;
}
.btn-sub-div{
	margin-left:80%;
}
.btn-submit{
    border-radius: 5px;
    color: #fff;
    background-color: #48120E;
	padding:10px 15px;
	box-shadow:  4px 4px 15px #202020;
    font-weight: 500;
	right: 0;
}
.btn-submit:hover{
    background-color: #e7cc8f;
    color: #202020 ;
}

.btn-submit:active{
    background-color: #e7cc8f;
    transform: translateY(4px);
}

