<header class="header">
  <div class="nav-img">
    <img class= "img-nav" src="../../assets/nav_logo.png">
  </div>
  <div class="nav-list"> 
  <nav>
      <ul>
        <li routerLink="home" class="homePage">HOME</li>
        <li routerLink="restaurant-list" class="restaurantList">RESTAURANTS</li>
        <li *ngIf="!getUserLoggedIn()" routerLink="login" class="loginPage">LOGIN</li>
        <li *ngIf="!getUserLoggedIn()" routerLink="signUp">SIGN UP</li>
        <li *ngIf="getUserLoggedIn()" (click)="logOut()">LOG OUT</li>
      </ul>
    </nav> 
    </div>
  </header>
