.review-list-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: inherit;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 20px;
    max-width: 900px;
    height: auto;
    
}